.wrapper{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  gap: 0 30px;
  grid-template-areas: 
  '. header header .'
  '. sidebar body .'
  'footer footer footer footer' ;
}

.header{
  margin-bottom: 50px;
  display: block;
  grid-area: header;
}

.sidebar{
  grid-area: sidebar;
}

.body{
  padding: 30px;
  grid-area: body;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.footer{
  grid-area: footer;
}

@media (max-width: 765px){

  .wrapper{
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas: 
    'header'
    'body'
    'footer' ;
  }

  .header{
    display: block;
  }

  .sidebar{
    display: none;
  }
}